body {
    background: #fafafa;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
}

.post {
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 14px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-text {
    margin-left: 10px;
}

.post-title {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.post-header p {
    font-size: 12px;
    color: #999;
    margin: 0;
}

.image-section img {
    width: 100%;
    height: auto;
    display: block;
}

.icons-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.left-icons img,
.right-icon img,
.options img {
    width: 24px;
    height: 24px;
}

.left-icons {
    display: flex;
    gap: 10px;
}

.right-icon {
    margin-left: auto;
}

.post-body p {
    padding: 0 16px;
    margin: 0;
}

.post-body p b {
    font-weight: 700;
}

div.post p {
    margin: 10px 16px;
}

