.contact-view {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.current-agenda {
  font-size: 25px;
}

.custom-select {
  background-color: rgb(225, 151, 151);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.add-contact-button {
  padding: 10px 20px;
  background-color: #8e0f0f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-contact-button:hover {
  background-color: #ce5757;
}
